/* app.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  background-image: url('https://designerapp.officeapps.live.com/designerapp/document.ashx?path=/55aa8173-b11d-4d3c-971c-6d696947d789/UserAssets/dalle-fb216cd7-4204-4d86-ad30-2ecb980d75be0251696754260592057600.jpg&dcHint=EastUS&fileToken=7a0b8d63-3361-405d-add6-857f103522cb');
  background-size: cover;
}

header {
  background-color: #333;
  color: white;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #333;
  color: white;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*.app-container {*/
/*  max-width: 800px;*/
/*  margin: 100px;*/
/*}*/

h1 {
  color: #333;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.back-button {
  background: #ddd;
  border-radius: 80%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
}

.back-button svg {
  margin-right: 4px;
}
.app-container {
  font-family: 'Arial', sans-serif;
}

.nav-list {
  list-style: none;
  margin:0;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}

.nav-link:hover {
  text-decoration: underline;
}
.logout-btn {
  margin-left: auto;
}

/* Add more styles as needed */

/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
