.App {
  text-align: center;
  background-color: white;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
}

.App-link {
  color: #61dafb;
}

.header-buttons {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
}

.login-button,
.register-button {
  margin-right: 10px;
}
.leaderBoard-button {
  margin-left: auto;
  margin-right: 20px;
}

